<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Uncial+Antiqua" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Patatukana</title>
</head>

<body ng-app="patatuna" ng-controller="ctrl-patatu">

    <!-- Menu BEGIN -->
    <ul class="menu-bar">
    <li ng-click="sec_choice(1)" id="li_demo">Baybayin Font Demo</li>
    <li ng-click="sec_choice(2)" id="li_history">History</li>
    <li ng-click="sec_choice(3)" id="li_about">About</li>
    </ul>
    <!-- Menu END -->

<section id="sec_demo" ng-show="!sec_demo_vis">
    <div id="header">
        <h1 id='top'>PATATUKANA</h1>
        <h3>Baybayin Fonts Demo ver 0.0.1</h3>
        <div id="options">        
            <p>
                <!-- <input type="color" name="background" id="p_bgColor" ng-model='m_bgColor' ng-change="changeColor()"><label for="p_bgColor">&nbsp;&nbsp;Background Color</label> -->
                <!-- <input type="color" name="fontcolor" id="p_fontColor" ng-model='m_ftColor' ng-change="changeColor()"><label for="p_fontColor">&nbsp;&nbsp;Font</label> -->
                <!-- <input type="button" value="Set Color" ng-click="changeColor()"> -->
                <input type="checkbox" name="Round" id="chk_font1" ng-model="chk_font1"><label for="chk_font1">Round</label>
                <input type="checkbox" name="Modern" id="chk_font2" ng-model="chk_font2"><label for="chk_font2">Modern</label>
                <input type="checkbox" name="Brush" id="chk_font3" ng-model="chk_font3"><label for="chk_font3">Brush</label>
                <input type="checkbox" name="Kana" id="chk_font4" ng-model="chk_font4"><label for="chk_font4">Kana</label>
            </p>
        </div>
    </div>

    <div class="in_text">
        <textarea name="trans" id="trans" cols="110" rows="3" ng-model="p_input"></textarea>
    </div>

    <section class="out_text font1" ng-style="out_style" ng-show="chk_font1">{{ p_input }}</section>
    <section class="out_text font2" ng-style="out_style" ng-show="chk_font2">{{ p_input }}</section>
    <section class="out_text font3" ng-style="out_style" ng-show="chk_font3">{{ p_input }}</section>
    <section class="out_text font4" ng-style="out_style" ng-show="chk_font4">{{ p_input }}</section>
</section>

<section id="sec_history" ng-show="sec_history_vis">
<h1>This is section 2</h1>
</section>

<section id="sec_about" ng-show="sec_about_vis">
        <h1>This is section 3</h1>
</section>

<div class="guide">
    <p>
        This is a tool to demonstrate some of Baybayin Fonts created by Nordenx.
    </p>
</div>
    
<hr>
<a href="names.html">Names in Baybayin</a>

<script src="./scripts/script.js"></script>

</body>

</html>
