<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Uncial+Antiqua" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Patatukana</title>
</head>

<body ng-app="patatuna" ng-controller="ctrl-patatu">
    <div id="header">
        <h1>PATATUKANA</h1>
        <h3>Baybayin Fonts Demo</h3>
    </div>
    <div class="in_text">
        <textarea name="trans" id="trans" cols="110" rows="3" ng-model="p_input"></textarea>
    </div>
    <div class="out_text font1" ng-style="out_style">{{ p_input }}</div>
    <div class="out_text font2" ng-style="out_style">{{ p_input }}</div>
    <div class="out_text font3" ng-style="out_style">{{ p_input }}</div>

    <div id="options">        
        <p><input type="color" name="background" id="p_bgColor" ng-model='m_bgColor'><label for="p_bgColor">Background Color</label>
            </p>
        <p><input type="color" name="fontcolor" id="p_fontColor" ng-model='m_ftColor'><label for="p_fontColor">Font</label>
            </p>
        <input type="button" value="Set Color" ng-click="changeColor()">
    </div>
    


    <script>
        var app = angular.module("patatuna", []);
        app.controller('ctrl-patatu', function ($scope) {
            $scope.p_input = 'a e i ba ka da ga ha la ma na nga pa ra sa ta wa ya c f j v x z';

            $scope.changeColor = function () {
                $scope.out_style = {
                    "color": $scope.m_ftColor,
                    "background-color": $scope.m_bgColor
                };
            };
        });
    </script>
</body>

</html>