<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Baybayin Names</title>
    <link rel="stylesheet" href="assets/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>

</head>

<body ng-app="baybayin">


    <div ng-controller="ctrl">
        <script src="assets/data/a_names.js"></script>
        <script src="assets/data/b_names.js"></script>
        <script src="assets/data/c_names.js"></script>
        <script src="assets/data/d_names.js"></script>
        <script src="assets/data/e_names.js"></script>
        <script src="assets/data/f_names.js"></script>
        <script src="assets/data/g_names.js"></script>
        <script src="assets/data/h_names.js"></script>
        <script src="assets/data/i_names.js"></script>
        <script src="assets/data/j_names.js"></script>
        <script src="assets/data/k_names.js"></script>
        <script src="assets/data/l_names.js"></script>
        <script src="assets/data/m_names.js"></script>
        <script src="assets/data/n_names.js"></script>
        <script src="assets/data/o_names.js"></script>
        <script src="assets/data/p_names.js"></script>
        <script src="assets/data/r_names.js"></script>
        <script src="assets/data/s_names.js"></script> 
        
         <script src="assets/data/all_names.js"></script>

        <script src="assets/scripts/search.js"></script>
        <div class="centered">
            <input type="text" size="30" maxlength="1000" value="" id="search" onkeyup="lsearch();" />
            <input type="button" value="Go" onclick="lsearch();" />
            <input type="checkbox" name="Round" id="chk_font1" ng-model="chk_font1">Round
            <input type="checkbox" name="Modern" id="chk_font2" ng-model="chk_font2">Modern
            <input type="checkbox" name="Brush" id="chk_font3" ng-model="chk_font3">Brush
            <input type="checkbox" name="Kana" id="chk_font4" ng-model="chk_font4">Brush

        </div>
        <table id="names_chart">
            <thead>
                <tr>
                    <th>Names</th>
                    <th>Read</th>
                    <th ng-show="chk_font1">Nordenx Round</th>
                    <th ng-show="chk_font2">Nordenx Modern</th>
                    <th ng-show="chk_font3">Nordenx Brush1</th>
                    <th ng-show="chk_font4">Nordenx Kana</th>
                    
                </tr>
            </thead>
            <tbody id="data">
                <tr ng-repeat="n in Names">
                    <td>{{ n.name}} </td>
                    <td class="case-lowered">{{ n.read}} </td>
                    <td class="font1"  ng-show="chk_font1">{{ n.write}} </td>
                    <td class="font2"  ng-show="chk_font2">{{ n.write}} </td>
                    <td class="font3"  ng-show="chk_font3">{{ n.write}} </td>
                    <td class="font4"  ng-show="chk_font4">{{ n.write}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- <script>
        var app = angular.module('baybayin', [])
            .controller('ctrl', function ($scope) {
                $scope.Names = allNames;

            });
    </script> -->
    <script src="scripts/names.js"></script>
</body>

</html>
