@import 'fonts.css';


.font1{font-family: 'Nordenx Round', cursive;}
.font2{font-family: 'Nordenx Modern', cursive;}
.font3{font-family: 'Nordenx Brush1', cursive;}
.font4{font-family: 'Nordenx Kana', cursive;}

*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}


.menu-bar {
    visibility: hidden;
    list-style: none;
}

.menu-bar li{
    display: inline-block;
    margin-right: -4px;
    border: 1px;
    margin: 0 auto;
}

#header{
    width: 400px;
    margin: 0% auto;
    text-align: center;
}

#options{
    visibility: hidden;
 }

.in_text{
    
    width: 800px;
    margin: 0% auto;
}



.out_text{
    padding: 10px;
    font-size: 30pt;
    word-wrap: break-word;
    white-space: pre;
   
}



#names_chart{
    font-size: 2em;
    margin: 0 auto;
}

.centered{
    margin: 0 auto;
}

.case-lowered{
    text-transform: lowercase;
    }
