/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Uncial Antiqua', cursive; 
*/


@import 'fonts.css';

#options{
   visibility: hidden;
}


.font1{font-family: 'Nordenx Round', cursive;}
.font2{font-family: 'Nordenx Modern', cursive;}
.font3{font-family: 'Nordenx Brush1', cursive; }



.menu-bar {
    visibility: hidden;
    list-style: none;
}

.menu-bar li{
    display: inline-block;
    margin-right: -4px;
    border: 1px;
    margin: 0 auto;
}

#header{
    width: 400px;
    margin: 0% auto;
    text-align: center;
}

.in_text{
    
    width: 800px;
    margin: 0% auto;
}



.out_text{
    padding: 10px;
    font-size: 30pt;
    word-wrap: break-word;
    white-space: pre;
   
}

