/* 
font-family: 'Shadows Into Light', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Uncial Antiqua', cursive; 
*/

@font-face {
    font-family: 'custom_font';
    src: url('fonts/custom_font-webfont.woff2') format('woff2'),
         url('fonts/custom_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


#options{
   visibility: hidden;
}


.font1{font-family: 'Shadows Into Light', cursive;}
.font2{font-family: 'Indie Flower', cursive;}
.font3{font-family: 'Uncial Antiqua', cursive; }



.menu-bar {
    visibility: hidden;
    list-style: none;
}

.menu-bar li{
    display: inline-block;
    margin-right: -4px;
    border: 1px;
    margin: 0 auto;
}

#header{
    width: 400px;
    margin: 0% auto;
    text-align: center;
}

.in_text{
    
    width: 800px;
    margin: 0% auto;
}



.out_text{
    padding: 10px;
    font-size: 30pt;
    word-wrap: break-word;
   
}

